API_KEY=
FIREBASE_SERVICE_ACCOUNT_JSON=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
CRON_PRODUCT=ndvi
CRON_SAFETY_DELAY_DAYS=1
CRON_RETRY_ATTEMPTS=3
CRON_RETRY_DELAY_HOURS=6
